{% extends "baseapp/base.html" %}
{% block body-block %}
<div class="container">
  <h3 style="text-align:center">Church Staff</h3>
    <div class="table-outer">
      <table class="table table-bordered" width="526" cellspacing="0" cellpadding="6">
        <colgroup>
          <col width="162">
          <col width="201">
          <col width="125">
        </colgroup>
        <tbody style="text-align:center">
          <tr valign="top">
            <td width="162"><b>Name</b></td>
            <td width="201"><b>Timing</b></td>
            <td width="125"><b></b></td>
          </tr>

          <tr valign="top">
            <td width="162"><b></b></td>
            <td width="201"><b></b></td>
            <td width="125"><b></b></td>
          </tr>

        </tbody>
      </table>
    </div>
</div>

{% endblock %}
