{% extends "baseapp/base.html" %}
{% block body-block %}
<div class="container">
  <div class="jumbotron">
    <h3 align=center>Confessions</h3>
    <br>
    <p>The Sacrament of Reconciliation is available on all Saturdays, before the evening Mass. This can also be availed upon request or by making an appointment with the priest during office working hours.</p>
    <br>
    <p>The Sacrament of Reconciliation is celebrated during the seasons of Advent and Lent by all members of the Catholic Church. A schedule of the dates and timings will be posted during the respective seasons.</p>
  </div>
</div>
{% endblock %}
