{% extends "baseapp/base.html" %}
<!-- {% block css %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %} -->
{% block body-block %}
<div class="container">
  <div class="jumbotron mt-4" style="background:none">
      <div class="row text-center">
          <div class="col-md-12">
            <h3>Contact Us</h3>
            <hr class="my-4">
            <p class="lead"></p>
            <p></p>
            <p>Evershine City</p>
            <p>Vasai East - 401208</p>
            <p>Dist-Palghar, Maharashtra</p>
          </div>
      </div>
  </div>
</div>
<!-- <div class="jumbotron">

<div id='map' style='width: 400px; height: 300px;'></div>
</div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYm1hdGhpYSIsImEiOiJjazgxbXVqaTcwYnRnM2ZudDdkeGd4eWFoIn0.00p-vB05DKvaFvZIdn8W-A';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-77.03, 38.91],
    zoom: 9,
    bearing: 180
  });
</script> -->


{% endblock %}
