{% extends "baseapp/base.html" %}
{% block body-block %}

    <div class="container">
            <h3 class="page-title" style="text-align:center;">The Pastoral Council of Infant Jesus Church</h3>
              <p></p>
                <div class="tab-content clearfix">
              <div id="1a" class="tab-pane active">
                <p></p>
                <p>The Parish Pastoral Council (PPC) consists of lay faithful of the Parish who are elected from 28 areas of the parish, along with the Parish Priest, Assistant Parish Priests and Heads of 28 various associations in the parish. These are leaders
                  representing the above-mentioned areas and associations.&nbsp; The entire Parish Pastoral Council meets on the 2nd Sunday of every month after 9:30 a.m Mass.</p>
                <p></p>
              <ul>
                <li>Build the parish community in faith, hope & love.</li>
                <li>"Encourage and strengthen the pastoral activities of the various associations and groups and areas of the parish."</li>
                <li>Plan and celebrate parish festivals and Holy days of obligation</li>
                <li>"Implement the projects and programs recommended by the Diocesan Pastoral Council."</li>
                <li>Discuss any other issue that affects the life of the parish.</li>
              </ul>
              <p></p>
              <p>The agenda is planned and discussed by the Core Committee before finalizing and distributing it to the Council Members. The Parish Council meeting begins with an opening prayer and Bible reading, confirmation of the minutes, input sessions, evaluations and planning for forthcoming events. The meeting also may
                include presentations/talks conducted by resource persons for the benefit of the PPC members. &nbsp; The Parish Pastoral Council team includes:</p>
              <p></p>
              <p></p>
              <br>
              <br>
              </div>
            </div>
          </div>

{% endblock %}
