{% extends "baseapp/base.html" %}
{% block body-block %}
<div class="container">
  <div class="jumbotron mt-4" >
      <div class="row">
          <div class="col-md-12">
              <div class="container" style="text-align:center;">
              <div class="jumbotron" style="background-color:none";>
              <h3 class="">Mass Timings - Week Days</h3>
              <h6>Morning 7.00 AM</h6>
              <h6>Evening 6.45 PM</h6>
              <h6>Saturday Evening Mass will be at 6.45 PM and will have the Sunday Liturgy</h6><br>
              <h3 class="">Sundays</h3>
              <h6>Morning 7.30 AM & 9.30 AM</h6>
              <h6>Evening 5.00 PM</h6>
          </div>
      </div>
  </div>
</div>
{% endblock %}
