{% extends "baseapp/base.html" %}
{% block body-block %}


  <h3 style="text-align:center">Communities</h3>
    <div class="table-outer">
      <table class="table table-bordered" width="526" cellspacing="0" cellpadding="6">
        <colgroup>
          <col width="50">
          <col width="201">
          <col width="125">
          <col width="162">
          <col width="201">
        </colgroup>
        <tbody style="text-align:center">
          <tr valign="top">
            <td width="50"><b>Sr.No</b></td>
            <td width="201"><b>Leader Name</b></td>
            <td width="125"><b>Community</b></td>
            <td width="162"><b>Contact Number</b></td>
            <td width="201"><b>Leader Address</b></td>
          </tr>
        </tbody>
      </table>
    </div>

{% endblock %}
